//Main colors
$grey: #ddd;
$black-grey: #333;
$background: #f8fcfc;
$border: #d3d3d3;
$borderAlternative: #00000033;
$gray: #707070;
$primary: #5abf6e;
$danger: #d7263d;
$warning: #f0ad4e;
$information: #2196f3;
$white: #ffffff;
$disabled: #c5c3c6;
$black: #232426;
$coreBlack: #000000;
$backdrop: #ffffffe6;
$hover: #c4ffcf;
$shadow: #1b1b1b26;
$backgroundAlternative: rgba(90, 191, 110, 0.15);
$disabledBackground: #70707020;

/* white #ffffff
black #050505 blue #1B9AAA grey #DDDBCB lightgrey #F5F1E3  */
.example {
  max-width: 100px;
}